@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.ant-layout-content > div {
  padding: 0;
}

.logo {
  width: 100px;
  height: 80px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
  background-image: url("logo.png");
  background-size: cover;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  /* background: #364d79; */
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #364d79;
}

.slick-dots > li {
  background-color: #00152a;
}

.ant-carousel .slick-dots li.slick-active button {
  background-color: #c4c4c4;
}

.slick-dots > li > button {
  min-width: 80px !important;
  min-height: 10px;
}

@media screen and (max-width: 767px) {
  .logo {
    display: block;
    margin: 10px auto;
    float: unset;
    width: 40%;
  }
}
